{% extends "base.html" %}

{% block content %}

<body class="sans-serif pv2 ph4">
  <!-- <header class="flex items-center justify-between bg-green white ph3">
    <div id="title">
      <h1 class="white">Freeshelf</h1>
    </div>
    <div id="account-menu">
      <a class="washed-blue" href="#">Login</a> | <a class="washed-blue" href="#">Register</a>
    </div>
  </header> -->
  <nav id="category-nav" class="flex items-center">
    <div>
      Books by category:
    </div>
      {% for category in book.categories.all %}
      <li><a href={% url 'category_filter' slug=category.slug %}>{{category.name}}</a></li>
   {% endfor %}
      
      
      <!-- <li class="mr2 pr2 bw1 br"><a href="#">International</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">American</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">Contemporary</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">Classics</a></li> -->
    </ul>
  </nav>


  <h2>Recently added books</h2>
      {% for book in books %}
      <div class="ba bw2 mv3">
        <div class="normal f3"><a href={{book.url}}>{{ book.title }}</a> <span class="f4">by {{ book.author}}</span></div>
        <p class="lh-copy">
          <i></i>{{ book.description }}
        </p>
        <div class="flex">
          <div class="mr2 pr2 bw1 br green">
            Favorited 4 times
          </div>
          <div class="mr2 pr2 bw1 br">
            {{ book.created_at }}
          </div>
          <div>
          <ul>
          {% for category in book.categories.all %}
              <li><a href={% url 'category_filter' slug=category.slug %}>{{category.name}}</a></li>
          {% endfor %}
          </ul>
        </div>
        </div>
      </div>
      {% endfor %}







{% endblock%}

<!-- <p>
  <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
  <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>

</p> -->
<ul class="list ml1 pa0 flex flex-wrap">
  {% for category in categories %}
  <li class="mr2 pr2 bw1 br"><a href="{% url 'category_search' slug=category.slug %}">{{ category.name }}</a></li>
  {% endfor %}
</ul>